@{
    ViewBag.Title = "Website - Page Not Found";
    Layout = "StandardLayout";
}

<h1>Sorry <small>Looks like that page doesn't exist.</small></h1>
<p>Please go back to our <a href="/">home page</a>.</p>
